In [58]:
from PLANBERT.Model import PLANBERT
# Load the training, validation, and testing set.
import pandas as pd
master_csv = pd.read_csv('../example/example_master.csv')
train_len, tv_len = 153681, 153681+31661
train_csv, valid_csv, test_csv = master_csv.iloc[:train_len], master_csv.iloc[train_len:tv_len], master_csv.iloc[tv_len:]

In [59]:
# Train a PLAN-BERT with training set and validation set without checkpoint.
planbert = PLANBERT(num_times=6, num_items=10000, feat_dims=[5000, 1000], cuda_num=0) # [ Number of time slots, Number of items, [Number of features], ID of GPU]
#planbert = PLANBERT(master_csv=train_csv, cuda_num=0)
#planbert.fit(train_csv, valid_csv)
#planbert.test(test_csv, h_list=[9], r_list=[3], pool_size=25)

In [60]:
test_csv_history = test_csv[test_csv['t'] < 4]
test_csv_future = test_csv[test_csv['t'] >= 4]#.sample(frac=0.1)

In [61]:
test_csv_history

        user  t  item  feat_0  feat_1
185342  8072  0  5686    1471      59
185343  8072  0  5686    1471      59
185344  8072  0  5686    1471      59
185345  8072  0  8003    1471      59
185346  8072  0  9483    1471      59
...      ... ..   ...     ...     ...
186333  9721  1  1975    3182      30
186334  9721  1  1975    3182      30
186335  9721  2  5163    3232      55
186336  9721  3  1975    3182      30
186337  9721  3  1975    3182      30

[342 rows x 5 columns]

In [62]:
test_csv_future

        user  t  item  feat_0  feat_1
185357  8072  4  7607    2462      17
185358  8072  5  3912    3160      23
185359  8072  6  7376      73      63
185360  8072  7  8206    1471      59
185361  8072  7  8206    1471      59
...      ... ..   ...     ...     ...
186330  3630  9  5330    1806      38
186338  9721  4  2459    4388      47
186339  9721  5  8205    2697      58
186340  9721  6     4    1874      47
186341  9721  7  7419    4220      32

[658 rows x 5 columns]

In [37]:
predict = planbert.predict(
    test_csv_history, 
    test_csv_future, 
    mode='time', 
    pred_time_slices=4, 
    items_per_slice=20
)

100%|██████████| 48/48 [00:04<00:00, 11.51it/s]

In [38]:
predict

      user  t  item      prob
0        0  4  7654  0.001103
1        0  4  4880  0.000790
2        0  4  8145  0.000787
3        0  4  7602  0.000738
4        0  4  2704  0.000696
...    ... ..   ...       ...
3835   894  7  9407  0.000581
3836   894  7  4221  0.000570
3837   894  7  8469  0.000569
3838   894  7  3469  0.000552
3839   894  7  5484  0.000538

[3840 rows x 4 columns]